a:link {
	color: #0000FF;
	color:#0000ff;
}
a:visited {
	color: #663366
}
a:hover {
	color: #007FFF
}
a.m1 {
	font-size: 9pt;
	text-decoration: none;
	COLOR: #000000
}
a.m1:visited {
	font-size: 9pt;
	text-decoration: none;
	COLOR: #000000
}
a.m1:active {
	font-size: 9pt;
	text-decoration: none;
	COLOR: #0000000
}

a.m1:hover {
	font-size: 9pt;
	text-decoration: none;
	COLOR: #0000FF
}

a.m2 {
	font-size: 9pt;
	text-decoration: none;
	COLOR: #009999
}

a.m2:visited {
	font-size: 9pt;
	text-decoration: none;
	COLOR: #009999
}

a.m2:active {
	font-size: 9pt;
	text-decoration: none;
	COLOR: #009999
}

a.m2:hover {
	font-size: 9pt;
	text-decoration: none;
	COLOR: #FF0000
}

.menu {
	color: #003399;
	font-size: 9pt;
	font-weight: bold;
}

.t1 {
	font-size: 9pt;
	line-HEIGHT: 140%;
}

.t2 {
	font-size: 10pt;
}

.TXTFLD {
	FONT-SIZE: 9pt;
	COLOR: #000000;
	BORDER: 1x SOLID #000000
}

.TXTFLD1 {
	FONT-SIZE: 9pt;
	COLOR: #000000;
	BORDER: 0 SOLID #000000
}
